venv/
Trained_models/
fertilizer_recommendation_model.joblib
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints
data/
logs/
outputs/
results/
figures/
.env
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.tmp
*.log
*.joblib
Datasets/CNN_Images_dataset/
.gitattributes
SYNTHETIC DATA Scripts/

